html, body {
    margin:0 auto;
    padding:0;
	overflow-y: hidden;
	width: 100%;
}
.text-center {
    text-align:center;
}

.rel{
	position: relative;
}
.abs{
	position: absolute;
	width: 200vh;
	height: 100%;
}
.abss{
	position: absolute;
	width: 100%;
}
h1 {	background-color: #0B7189;
	padding: 0;
	margin: 0;
	font-family: 'Century Gothic';
	font-size: 45px;
	text-align: center;
	font-weight:normal;
	color: #DDD6D4;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.backshot {margin-left:40%;
	margin-right: 40%;
}
.backshot1 {margin-left:30%;
	margin-right: 30%;
}
p.p1 {font-family: 'Century Gothic';
	text-align: center;
	font-size: 32px;
	padding: 0;
	background-color: lightgrey;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-bottom:0;
}

.btnn {	
	background-color: #E8ADAA;
	text-align: center;
	border-radius: 20px;
	border: 3px solid grey;
	overflow-y: hidden;
	font-family: 'Poiret One', cursive;
	font-weight: normal;
	font-size: 35px;
	color: white;
}
button:focus {
    outline:none !important;
}
button:hover{background-color: white;
	color: #E8ADAA;
}
ul {
	margin-bottom: -5%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	display: inline-block;
	font-family: 'Open Sans Condensed', sans-serif;
}

li {
    float: left;
	border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-size: 20px;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #d9d9d9;
}

li.dropdown {
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.show {display:block;}

#counter {
   background: url('images/bd.jpg') 50% 0 repeat-y fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 160px;
  padding-bottom: 160px;
}

#counter .counter-text {
  color: #ffffff;
  letter-spacing: 2px;
  text-align: center;
}

h3.numbers{
	color: #ff6600;
	font-size: 32px;
	text-align: center;
}

#web{
	position: absolute;
	margin: 0 auto;
	left: 29%;
	top: 21%;
	transform: scale(.7,.7);
	max-width: 100%;
}
#web1{
	position: absolute;
	margin: 0 auto;
	right: 41%;
	top: 9%;
	transform: scale(.7,.7);
	max-width: 100%;
}
#web2{
	position: absolute;
	margin: 0 auto;
	left: -2%;
	top: 9%;
	transform: scale(.7,.7);
	max-width: 100%;
}

#center-sphere { 
  margin: 0 auto;
  width: 280px; 
  height: 280px; 
  position: absolute; 
  left: 315px; 
  top: 315px; 
  border-radius: 50%;
  background-color: lightgrey;
} 
.sphere { 
  margin: 0 auto;
  width: 100px; 
  height: 100px; 
  border-radius: 50%;
  border: 3px solid darkgrey;
  position: absolute; 
  transition: background-color 800ms ease-in-out;
  background: rgba(247,187,103,.85);
   transition:width 800ms, height 800ms, border-radius 800ms,left 800ms, top 800ms ;
  -moz-transition:width 800ms, height 800ms, border-radius 800ms,left 800ms, top 800ms;
  -ms-transition:width 800ms, height 800ms, border-radius 800ms,left 800ms, top 800ms;
  -o-transition:width 800ms, height 800ms, border-radius 800ms,left 800ms, top 800ms;
  -webkit-transition:width 800ms, height 800ms, border-radius 800ms,left 800ms, top 800ms;
}

.sphere:hover {
  transition: background-color 800ms ease-in-out;
  background: rgb(115,166,183);
  color: #ffffff;
  z-index: 999;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 275px; 
  height: 275px;
}
#center-sphere:hover{
  transition: background-color 800ms ease-in-out;
  background: #564256;
  color: #ffffff;
  z-index: 999;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position:absolute;
  width: 450px; 
  height: 450px;
  top: 225px;
  left: 225px;
}
.one{left:605px; top: 405px;}
.two{left: 567px; top: 523px;}
.three{left: 467px; top: 595px;}
.four{left: 343px; top: 595px;}
.five{left: 243px; top: 523px;}
.six{left: 205px; top: 405px;}
.seven{left: 243px; top: 287px;}
.eight{left: 343px; top: 215px;}
.nine{left: 467px; top: 215px;}
.ten{left: 567px; top: 287px;}
.eleven{left: 505px; top: 232px;}
.twelve{left: 305px; top: 232px;}
.thirteen{left: 305px; top: 578px;}
.fourteen{left: 505px; top: 578px;}
.text {
   -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: relative;
  top: 40px;
  left: 4px;
  margin-bottom: 0;
}

.sphere:hover .text {
  top: 20px;
  left: 0;
}

.sphere:hover .muscles{
  top: 20px;
  left: 82px;
}

.blurb {
  margin: 2.5em;
  color: rgba(255,255,255,0);
  -ms-transform: scale(.9); 
  -webkit-transform: scale(.9); 
  transform: scale(.9);
  visibility: hidden;
}

.sphere:hover .blurb {
   -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  -ms-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
  color: rgba(255,255,255,1);
  visibility: visible;
}

.title {
   position: relative;
   top: 65px;
   left: 10px;
}
.description {
   position: relative;
   top: 65px;
   left: 5px;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
	
}

/* Modal Content */
.modal-content {
    margin-bottom: 0;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

