.twoColumnContainer {
  width: 90%;
  border: 1px grey solid;
  border-radius: 5px; 
  height: 500px; 
  margin: 30px auto; 
}

.textContainer {
  float: left;
  width: 50%;
  height: 100%;
  background-color: pink; 
}

.mapContainer {
  float: right;
  width: 50%;
  height: 100%;
  background-color: green; 
}
