* {
    box-sizing: border-box;
}

body {
    margin: 0; 
    background-color:#f2f2f2;
}

h2 {
  text-align: center; 
  font-family: Arial;
  color: #191919;
}

/* Create three equal columns that floats next to each other */
.column {
    width: 30%;
    float: left; 
    padding: 10px;
    height: 500px; /* Should be removed. Only for demonstration */
    background-color:#ccc;
    margin: 1.66%; 
    border-radius: 3px;
}

/* Clear floats after the columns */
.row:after {
    margin: 0 auto; 
    content: "";
    display: table;
    clear: both;
}

.bar {
    width: 90%;
    height: 3px;
    background-color:#f2f2f2;
    border-radius: 5px; 
    margin: 0 auto; 
}