html, body {
    margin:0;
    padding:0;
    width:100vw;
    height:100vh;
	overflow-x: hidden;
}
.text-center {
    text-align:center;
}
h1 {	background-color: #6C6061;
	padding: 0;
	margin: 0;
	font-family: 'Century Gothic';
	text-align: center;
	font-size: 40px;
	font-weight:normal;
	color: #DDD6D4;
	border-radius: 20px;
}
h2 {	padding: 0;
	margin: 0;
	background-color: lightgrey;
	font-family: 'Century Gothic';
	text-align: center;
	font-size: 15px;
	font-weight:normal;
}

h4 {	background-color: #6C6061;
	padding: 0;
	margin: 0;
	font-family: 'Century Gothic';
	text-align: center;
	font-size: 43px;
	font-weight:normal;
	color: #DDD6D4;
}
h7{	padding: 0;
	font-family: 'Century Gothic';
	text-align: center;
	font-size: 20px;;
}
p.p2 {  padding: 0;
	margin-top: 5px;
	background-color: #64403E;
	font-family: 'Century Gothic';
	text-align: center;
	font-size: 26px;
	font-weight:normal;
	color: white;
}
p.p1 {	padding: 0;
	background-color: #C9CEBD;
	border-bottom: 1px solid #100C08;
	margin: 0;
	font-family: 'Century Gothic';
	text-align: center;
	font-size: 25px;
	font-weight:normal;
}
p.p3{padding: 0;
	font-family: 'Century Gothic';
	text-align: center;
	font-size: 15px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	display: inline-block;
	font-family: 'Open Sans Condensed', sans-serif;
}

li {
    float: left;
	border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-size: 26px;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #d9d9d9;
}

li.dropdown {
    display: inline-block;
}
.bg{	padding: 0;
	margin: 0;
	background-color: #DDD6D4;
	overflow-x: hidden;
}
.backshot{margin: 0;
	background-color: #6C6061;
	margin-right: 550px;
	margin-left: 550px;
	border-radius: 20px;
}
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 80px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -73px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
i {
  display: inline-block;
  margin-right: 1em;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.show {display:block;}

#counter {
   background: url('images/bd.jpg') 50% 0 repeat-y fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 160px;
  padding-bottom: 160px;
}

#counter .counter-text {
  color: #ffffff;
  letter-spacing: 2px;
  text-align: center;
}

h3.numbers{
	color: #ff6600;
	font-size: 32px;
	text-align: center;
}
-moz-transform: scale(0.5);
-webkit-transform: scale(0.5);
transform: scale(0.5);