/*Nothing supposed to be here!! */ 
/*Restart all the styling again please */
:root{
    --jet         : #333333;
    --seablue     : #016295;
    --silver      : #BFBFBF;
    --platinum    : #E8E8E8;
    --snow        : #FCF7F8;
}

html,body {
    height:100%;
    margin:0;
 }
div.link {
	display: block;
	cursor: pointer;
	background-color: #eee;
	padding: 20px 20px 20px 50px; 
	font-size: 18px;
	font-family: 'Nunito'; 
}

div.link:hover {
	background-color:#ddd;
}

#container {
	float: right; 
	height: 620px;
	width: 100%;
}

video {
	object-fit: fill; 
}

.column2 {
	width: 32%;
	float: right; 
    background-color: #eee;
    height: 620px;
	overflow-y: scroll;
}

.row {
	height: 620px;
}
.column1 {
    float: left;
    width: 48%;
    background-color: var(--silver); 
    height: 620px;
}

.filler {
	background-color:#333;
	width:100%;
	height:47px; 
}

.verticalfiller {
	width: 10%;
	float: right; 
	height: 620px; 
	background-color: var(--silver);
}

.verticalfiller2 {
	width: 10%;
	float: left;
	height: 620px;
	background-color: var(--silver); 
}

#videoHolder {
	height: 1000px;
	width: 1000px; 
	background-color: pink; 
}

@media only screen and (max-width: 1750px) {
	
	.verticalfiller {
		width: 4%;
		float: right; 
		height: 620px; 
		background-color: var(--silver);
	}

	.verticalfiller2 {
		width: 4%;
		float: left;
		height: 620px;
		background-color: var(--silver); 
	}
	
	#container {
		float: right; 
		height: 620px;
		width: 100%;
	}
	
	.column1 {
		float: left;
		width: 54%;
		background-color: var(--silver); 
		height: 620px;
	}

	.column2 {
		width: 38%;
		float: right; 
		background-color: #eee;
		height: 620px;
		overflow-y: scroll;
	}
	
	.row {
		height: 620px;
	}
}

@media only screen and (max-width: 1430px) {
	
	.verticalfiller {
		width: 2%;
		float: right; 
		height: 550px; 
		background-color: var(--silver);
	}

	.verticalfiller2 {
		width: 2%;
		float: left;
		height: 550px;
		background-color: var(--silver); 
	}

	#container {
		float: right; 
		height: 550px;
		width: 100%;
	}
	
	.column1 {
		float: left;
		width: 64%;
		background-color: var(--silver); 
		height: 550px;
	}
	
	.column2 {
		width: 32%;
		float: right; 
		background-color: #eee;
		height: 550px;
		overflow-y: scroll;
	}
	
	.row {
		height: 550px;
	}
}

@media only screen and (max-width: 1300px) {
	
	.verticalfiller {
		width: 0%;
		float: right; 
		height: 550px; 
		background-color: var(--silver);
	}

	.verticalfiller2 {
		width: 0%;
		float: left;
		height: 550px;
		background-color: blue; 
	}

	#container {
		float: right; 
		height: 550px;
		width: 100%;
	}
	
	.column1 {
		float: left;
		width: 66%;
		background-color: var(--silver); 
		height: 550px;
	}
	
	.column2 {
		width: 34%;
		float: right; 
		background-color: #eee;
		height: 550px;
		overflow-y: scroll;
	}
	
	.row {
		height: 550px;
	}
}

@media only screen and (max-width: 1000px) {
	
	.verticalfiller {
		width: 0%;
		float: right; 
		height: 490px; 
		background-color: var(--silver);
	}

	.verticalfiller2 {
		width: 0%;
		float: left;
		height: 490px;
		background-color: blue; 
	}

	#container {
		float: right; 
		height: 490px;
		width: 100%;
	}
	
	.column1 {
		float: left;
		width: 70%;
		background-color: var(--silver); 
		height: 490px;
	}
	
	.column2 {
		width: 30%;
		float: right; 
		background-color: #eee;
		height: 490px;
		overflow-y: scroll;
	}
	
	.row {
		height: 490px;
	}
}

@media only screen and (max-width: 800px) {
	
	.verticalfiller {
		width: 0%;
		float: right; 
		height: 490px; 
		background-color: var(--silver);
	}

	.verticalfiller2 {
		width: 0%;
		float: left;
		height: 490px;
		background-color: blue; 
	}

	#container {
		float: right; 
		height: 490px;
		width: 100%;
	}
	
	.column1 {
		float: left;
		width: 100%;
		background-color: var(--silver); 
		height: 490px;
	}
	
	.column2 {
		width: 100%;
		float: right; 
		background-color: #eee;
		height: 490px;
		overflow-y: scroll;
	}
	
	.row {
		height: 490px;
	}
}

@media only screen and (max-width: 550px) {
	
	.verticalfiller {
		width: 0%;
		float: right; 
		height: 350px; 
		background-color: var(--silver);
	}

	.verticalfiller2 {
		width: 0%;
		float: left;
		height: 350px;
		background-color: blue; 
	}

	#container {
		float: right; 
		height: 350px;
		width: 100%;
	}
	
	.column1 {
		float: left;
		width: 100%;
		background-color: var(--silver); 
		height: 350px;
	}
	
	.column2 {
		width: 100%;
		float: right; 
		background-color: #eee;
		height: 350px;
		overflow-y: scroll;
	}
	
	.row {
		height: 350px;
	}
}