/*Nothing supposed to be here!! */ 
/*Restart all the styling again please */

body {
    margin: 0; 
}

div.link {
	display: block;
	cursor: pointer;
	background-color: #eee;
	padding: 20px; 
	font-size: 18px;
	font-family: 'Nunito'; 
}

div.link:hover {
	background-color:#ddd;
}

.row {
	width: 100%;
	height: 900px;
}
.column1 {
    float: left;
    width: 50%;
    background-color: blue; 
    height: 400px;
}

.column2 {
	float: right;
	width: 50%;
    background-color: orange;
    height: 700px;
	overflow-y: scroll;
}

#video {
    transform: scale(1);
    overflow: scroll; 
}