body{
	margin: 0;
}

/*.bkground{
     background-image:url("../images/bkground.jpg");
}*/

.back{
    width:100%;
}

.contact{
    width:100%;
    background-image:url("../images/bkground.jpg");
    background-repeat:repeat-x;
    text-align:center;
    padding-top:12vh;
    position:fixed;
    bottom:0;    
}

.barrier{
    padding-top:3vh;
    padding-bottom:3vh;
}

.textbox{
    opacity:0.55;
    background-color:black;
    width:37%;
    margin:auto;
    text-align:center;
    padding-top:20vh;
    padding-bottom:15vh;
    border-radius:10px;
    position:relative;
    top:-20vh;
    float:left;
    margin-left:10vw;
}

.textbox1{
    opacity:0.55;
    background-color:black;
    width:37%;
    margin:auto;
    text-align:center;
    padding-top:20vh;
    padding-bottom:15vh;
    border-radius:10px;
    position:relative;
    top:-20vh;
    float:right;
    margin-right:10vw;
}

#standard{
    left:-22vw;
    color:white;
    font-family:serif;
    position:relative;
    z-index:8;
    top:9vh;
    font-size:25px;
    line-height:5px;
}

#title{
    font-size:55px;
}

.filler {
	background-color: var(--jet);
	width:100%;
	height:47px; 
	margin-top: -4px; 
}
