body{
    overflow:hidden;

}

/*.bkground{
     background-image:url("../images/bkground.jpg");
}*/

.back{
    width:100%;
}

.contact{
    width:100%;
    background-image:url("../images/bkground.jpg");
    background-repeat:repeat-x;
    text-align:center;
    padding-top:10vh;
    position:fixed;
    bottom:0;    
}

.barrier{
    padding-top:3vh;
    padding-bottom:3vh;
}

.textbox{
    opacity:0.55;
    background-color:black;
    width:60%;
    margin:auto;
    text-align:center;
    padding-top:20vh;
    padding-bottom:15vh;
    border-radius:10px;
    position:relative;
    top:-20vh;
}

#standard{
    width:100%;
    margin:auto;
    color:white;
    font-family:sans-serif;
    position:relative;
    z-index:8;
    top:9vh;
    font-size:25px;
    line-height:5px;
}

#title{
    font-size:55px;
}

